body {
  background-image: url("chalkboard.jpg");
}
h1 {
  color: white;
}
div.container {
  text-align: center;
  margin-top: 50px;
}
div.content {
  color: white;
  font-size: 60px;
}
#finalText {
  font-size: 120px;
  color: white;
}
#results {
  margin-bottom: 30px;
}
#first {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#second {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
