body {
  background-image: url("chalkboard.jpg");
}
h1 {
  color: white;
}
#homeButton {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 1%;
  margin-left: 1%;
}

#backButton {
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  margin-top: 5%;
}

#first {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#second {
  margin-top: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#third {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fourth {
  margin-top: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
