#homeButton {
  position: absolute;
  left: 0;
  margin-top: 1.5%;
  margin-left: 1.5%
}

#backButton {
  font-size: 30px;
}

div.container {
  text-align: center;
  margin-top: 5%;
}

#first {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
}

#second {
  margin-top: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
}
#third {
  margin-top: 5%;
  margin-right: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
}
#fourth {
  margin-top: 5%;
  height: 200px;
  width: 300px;
  font-size: 100px;
}
