body {
  background-image: url("chalkboard.jpg");
}
#question {
  color: white;
  font-size: 160px;
}
#questionbox {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15%;
  margin-top: 200px;
}
#question-answer {
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 0;
  height: 140px;
  width: 15%;
  margin-top: 250px;
  margin-right: 20%;
}
#timebox {
  bottom: 80%;
}
#timeLeft {
  color: white;
  margin-top: 1%;
  margin-left: 1%;
}
#time-left-indicator {
  display: block;
  height: 15px;
  width: 0%;
  background: crimson;
}
