#question {
  font-size: 160px;
}
#questionbox {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15%;
  margin-top: 200px;
}
#question-answer {
  position: absolute;
  right: 0;
  top: 0;
  height: 140px;
  width: 15%;
  margin-top: 250px;
  margin-right: 20%;
}
#timebox {
  /* position: absolute; */
  bottom: 80%;
}
#time-left-indicator {
  display: block;
  height: 10px;
  width: 0%;
  background: crimson;
}
